
body {
  overflow: hidden;
}

#home-content {
  height: 90vh !important;
}

#search-bar {
  outline: solid red;
  height: 10% !important;
}

#card-cont {
  overflow-y: scroll;
  height: 90% !important;
}

#card {
  border: transparent !important;
}
